@model L01P02_2022HZ651.Models.alumnos

@{
    ViewData["Title"] = "Editar Alumno";
}

<main role="main" class="pb-3">

    <h1 class="text-center text-primary">Editar Alumno</h1>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm p-4 border-primary">
                <h4 class="text-center mb-4">Formulario de Edición</h4>
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="id" />

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label asp-for="codigo" class="form-label fw-bold"></label>
                            <input asp-for="codigo" class="form-control" />
                            <span asp-validation-for="codigo" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label asp-for="nombre" class="form-label fw-bold"></label>
                            <input asp-for="nombre" class="form-control" />
                            <span asp-validation-for="nombre" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label asp-for="apellidos" class="form-label fw-bold"></label>
                            <input asp-for="apellidos" class="form-control" />
                            <span asp-validation-for="apellidos" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label asp-for="dui" class="form-label fw-bold"></label>
                            <input asp-for="dui" class="form-control" />
                            <span asp-validation-for="dui" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label asp-for="estado" class="form-label fw-bold"></label>
                            <input asp-for="estado" class="form-control" />
                            <span asp-validation-for="estado" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between mt-3">
                        <button type="submit" class="btn btn-primary btn-sm">Guardar Cambios</button>
                        <a asp-action="Index" class="btn btn-secondary btn-sm">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
