@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>

    <div >
        <h2 class="mt-4">Mirian Carolina Hernández Zepeda</h2>
        <p>
            Esta aplicación web desarrollada en ASP.NET Core MVC permite la gestión eficiente de estudiantes, departamentos, facultades y materias.
            Incluye funcionalidades de CRUD de registros, facilitando la administración de la base de datos.
        </p>

    </div>
</div>